* {
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}
input,textarea,select,button{
    font-size: inherit;
    font-family: inherit;
}
:root{
    --primary-font:"Inter", sans-serif;
}
/* common */
.container{
    width: 1170px;
    max-width: calc(1170px - 48px);
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.btn{
    --height: 58px; 
    display: inline-block;
    width: 149px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    background: #212832;
    text-align: center;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
}
.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
.section-title{
    display: flex;
    align-items: center;
    color: #696D77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 12px;
}
.section-title::before{
    --colour: #696D77;
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    margin-right: 12px;
    background-color: var(--colour);
}
.section-desc{
    color: #696D76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    margin-top: 20px;
}
.section-heading{
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}
/* header */
.header{
    padding: 42px 0;
}
.header__inner{
    display: flex;
    align-items: center;
}
.header__list{
    display: flex;
    margin-left: 46px;
}
.header__link{
    position: relative;
    padding: 10px 24px;
    color: #696D76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.header__active-link,
.header__link:hover{
    text-shadow: 1px 0 0 currentColor;
    color: #212832;
}
.header__active-link::after{
    position: absolute;
    bottom: 7px;
    left: 24px;
    content: "";
    display: inline-block;
    width: calc(100% - 48px);
    height: 1px;
    background-color: #7264d6;
    border-radius: 99px;
}
.header__log-in{
    margin-left: auto;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}
.header__log-out{
    --height: 52px;
    border-radius: 6px;
    width: 113px;
    margin-left: 28px;
}
/* hero */
.hero{
    padding: 34px 0 80px;
}
.hero__inner{
    display: flex;
    align-items: center;
}
.hero__content{
    max-width: 540px;
}
.hero__heading{
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}
strong{
    color: #7264D6;
}
.subscribe-form{
    margin-top: 40px;
    position: relative;
}
.subscribe-form__input{
    outline: none;
    border: none;
    width: 100%;
    height: 74px;
    padding: 0 180px 0 23px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    color: #696D76;
}
.subscribe-form__input::placeholder{
    color: #696D76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.subscribe-form__submit{
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #7264D6;
    border: none;
    outline: none;
}
.hero__note-email{
    margin-top: 20px;
    color: #696D76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; 
}
.hero__media{
    margin-left: 105px;
}
.hero__img-wrap{
    position: relative;
}
.hero__img{
    display: block;
}
.hero-dowload{
    display: flex;
    align-items: center;
    position: absolute;
    top: 113px;
    left: -100px;
    padding: 14px 10px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}
.hero-dowload__title{
    margin-left: 8px;
    color: #31456A;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.hero-dowload__price{
    margin-left: 19px;
    color: #4AB5E3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; 
}
.hero-secured{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 61px;
    right: -74px;
    padding: 22px 15px;
    border-radius: 10px;
    background: #439F90;
}
.hero-secured__inner{
    margin-left: 11px;
}
.hero-secured__price{
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.hero-secured__title{
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
}
.hero-interest{
    position: absolute;
    top: 127px;
    right: -181px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #DA6464;
}
.hero-interest__sale{
    color: #FFF;
    font-size: 4.4rem;
    font-weight: 600;
}
.hero-interest__title{
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
}
.work{
    padding: 80px 0;
}
.work__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work__img-wrap{
    width: 470px;
    position: relative;
}
.work__img-wrap::after{
    content: url(../img/work-01.png);
    position: absolute;
    bottom: 0;
    left: 0;
}
.work__img{
    position: relative;
    z-index: 1;
    padding: 0 7px;
    width: 100%;
}
.work-card{
    position: absolute;
    z-index: 1;
    top: 76px;
    right: 62px;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #7264D6;
}
.work-card::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #FFF;
}
.work-card__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 1;
}
.work-congratulations{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    bottom: 96px;
    right: -100px;
    width: 226px;
    padding: 15px;
    border-radius: 8px;
    background: #FFFDFA;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}
.work-congratulations__img-wrap{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #4AB5E3;
    border: 1px solid inherit;
    border-radius: 6px;
}
.work-congratulations__img-wrap::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
}
.work-congratulations__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 1;
}
.work-congratulations__inner{
    margin-left: 10px;
}
.work-congratulations__title{
    color: #212832;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 600;
}
.work-congratulations__desc{
    margin-top: 5px;
    color: #696D76;
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 400;
}
.work__content{
    width: 470px;
}
.work__list{
    margin-top: 70px;
}
.work-item{
    margin-top: 30px;
}
.work-item__heading{
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; 
}
.work-item__desc{
    margin-top: 16px;
    color: #696D76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.about{
    padding: 80px 0;
}
.about__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.about__content{
    width: 470px;
}
.about__list{
    margin-top: 28px;
}
.about__item{
    display: flex;
    align-items: center;
    margin-top: 18px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; 
}
.about__item::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #7264D6;
}
.about__cta{
    margin-top: 38px;
}
.about__img-wrap{
    position: relative;
}
.about__img{
    display: block;
}
.about-sendmoney{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: -48px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    padding: 23px 13px;
}
.about-sendmoney__img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #fbf0f0;
}
.about-sendmoney__title{
    margin-left: 14px;
}
.about-sendmoney__heading{
    color: #212832;
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 500;
}
.about-sendmoney__desc{
    margin-top: 4px;
    color: #696D76;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
}
.about-sendmoney__time{
    margin-left: 67px;
}
.about-sendmoney__price{
    color: #212832;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 400;
}
.about-sendmoney__day{
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    color: #696D76;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
}
.about-income{
    position: absolute;
    bottom: -47px;
    right: 0;
    padding: 15px 53px 15px 15px;
    background-color: #439F90;
    border-radius: 16px;
}
.about-income__img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;   
    background-color: #FFF;
}
.about-income__title{
    margin-top: 14px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
}
.about-income__price{
    margin-top: 6px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
}
.about__content:nth-of-type(2),
.about__media:nth-of-type(2){
    padding-top: 160px;
}
.about__content:nth-of-type(2){
    margin-left: auto;
}
.about__img-wrap-bottom{
    position: relative;
    width: 470px;
}
.about__img-wrap-bottom::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    background-color: #92C2C2;
    border-radius: 8px;
}
.about__img-wrap-bottom::before{
    content: "";
    position: absolute;
    bottom: 85px;
    width: 100%;
    right: 0;
    height: 300px;
    background-color: #92C2C2;
    border-radius: 8px;
    transform: skew(0,-10deg);
}
.about__img-bottom{
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0 28px;
}
.about-payment{
    position: absolute;
    z-index: 1;
    right: -74px;
    bottom: 57px;
    padding: 28px;
    background-color: #FFF;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.10));
}
.about-payment__title{
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
.about-payment__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
}
.about-payment__item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 63px;
    height: 48px;
    background-color: #f2f2fa;
}
.about-payment__item:last-child{
    background-color: #f9ea63;
}
.about-dolar{
    position: absolute;
    top: -35px;
    right: -26px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #7264D6;
}
/* client */
.client{
    padding: 80px 0;
}
.client__top{
    text-align: center;
}
.client__title{
    justify-content: center;
}
.client__desc{
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    width: 435px;
    color: #696D76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.client__list{
    overflow: hidden;
    margin-top: 70px;
    display: flex;
    column-gap: 30px;
}
.client-item{
    width: calc(50% - 29px);
    flex-shrink: 0;
}
.client-item__says{
    position: relative;
    padding: 42px 28px;
    filter: drop-shadow(0 0 1px #DFE2E8);
    background-color: #FFF;
    border-radius: 10px;
    transition: 0.25s;
}
.client-item__says:hover{
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
    cursor: pointer;
}
.client-item__says::after{
    content: "";
    bottom: -99px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border: 50px solid ;
    border-color: #FFF transparent transparent transparent;
}
.client-item__quote{
    color: #696D76;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; 
}
.client-item__avatar{
    margin-left: auto;
    margin-right: auto;
}
.client-item__name,
.client-item__major{
    text-align: center;
}
.client-item__avatar{
    display: block;
    margin-top: 86px;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    object-fit: cover;
}
.client-item__name{
    margin-top: 20px;
    color: #070052;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.38; 
}
.client-item__major{
    margin-top: 2px;
    color: #696D76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}
.client__dots{
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}
.client__dot{
    width: 22px;
    height: 6px;
    border: 1px solid #9B9FAB;
    border-radius: 1px;
    cursor: pointer;
}
.client__dot-active{
    background-color: #7264D6;
    border-color: #7264D6;
}
.blog{
    padding: 80px 0;
}
.blog__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__desc{
    margin-top: 18px;
    width: 435px;
    color: #696D76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; 
}
.blog__list{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.blog-item{
    display: flex;
    align-items: center;
    padding: 28px;
    border-radius: 12px;
    background: #FFF;
    border: 1px solid #DFE2E8;
}
.blog-item:hover{
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    border: none;
}
.blog-item__img{
    width: 130px;
    height: 130px;
    border-radius: 12px;
    object-fit: cover;
}
.blog-item__right{
    margin-left: 22px;
}
.blog-item__date{
    color: #696D76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}
.blog-item__desc{
    display: block;
    width: 332px;
    margin-top: 10px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
.blog-item__more{
    display: inline-block;
    margin-top: 20px;
    color: #7264D6;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.625;
}
.card{
    padding: 80px 0 100px;
}
.card__background{
    position: relative;
    padding: 100px 0;
    border-radius: 24px;
    background: #7264D6;
}
.card__inner{
    text-align: center;
}
.card__title{
    justify-content: center;
    color: #FFFFFF;
}
.card__title::before{
    --colour:#FFF;
}
.card__heading{
    color: #FFF;
}
.card__desc{
    width: 435px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.card__actions{
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}
.card__action{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 64px;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: #FFF;
}
.card__action:hover{
    opacity: 0.9;
    cursor: pointer;
}
.card__decor{
    position: absolute;
    animation: rotate 2.5s infinite;
}
@keyframes rotate {
    0% { transform: rotate(0deg);
    filter:drop-shadow( 0px 0px 100px #FFF);}
    100% {transform: rotate(360deg);}
}
.card__decor:nth-child(1){
    top: 49px;
    left: 112px;
}
.card__decor:nth-child(2){
    top: 49px;
    right: 112px;
}
.card__decor:nth-child(3){
    bottom: 49px;
    left: 166px;
}
.card__decor:nth-child(4){
    bottom: 49px;
    right: 166px;
}
/* footer */
.footer{
    padding-top: 100px;
    background: #FAFBFF;
}
.footer__inner{
    display: grid;
    grid-template-columns: 0.24fr 0.24fr 0.24fr 1fr;
    column-gap: 147px;
}
.footer__heading{
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; 
    margin-bottom: 24px;
}
.footer__email,
.footer__tell,
.footer__desc,
.footer__link{
    display: inline-block;
    color: #6A6E78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; 
    margin-bottom: 20px;
}
.footer__link:hover{
    text-decoration: underline;
}
.footer__desc{
    margin-bottom: 48px;
}
.subscribe-form-address{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.subscribe-form-address__input{
    width: 270px;
    height: 52px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #8E919A;
    padding: 12px;
    color: #8E919A;
}
.subscribe-form-address__input::placeholder{
    color: #8E919A;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.subscribe-form-address__submit{
    width: 113px;
    --height:52px;
    outline: none;
    border: none;
    background-color: #7264D6;
}
.footer__info{
    margin: 50px 0 28px;
    display: flex;
    align-items: center;
    column-gap: 100px;
}
.footer__email,
.footer__tell{
    text-decoration: underline;
    margin-bottom: 0;
}
.footer-copyright{
    background-color: #7264D6;
    padding: 28px 0;
}
.footer-copyright__desc{
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
